body {
    background-color: #202020;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 5rem;
    background-color: #202020;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 101%;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    
}

p {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 90%;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
}


#logo {
    max-width: 32%;
    margin-bottom: 1%;
    margin-top: 2%;
    height: auto;
}  

  
a:hover {
    border-bottom: 1px solid #fff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    size: 3rem;
    height: 90vh; /* define 100% height of the viewport */
} 
  
input {
    border-radius: 7px; 
    margin: 5px; 
    font-size: 130%; 
    border: nonec;
}

input[type="text"]{
    width: 78vh;
    height: 4.5vh;
    border-radius: 20px;
    padding-left: 5px;
    text-align: left;
    border: none;
}

input[type="submit"] {
    transition: all 0.1s ease;
    font-size: 130%;
    border: none;
    background-color: #2d2c2c;
    color: rgb(255, 255, 255);
    border: 1px solid #2d2c2c;
}

input[type="submit"]:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: 1px solid #fff;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}